.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
  .loginContainer {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    h2{
      // height: 20px;
      line-height: 20px;
      padding: 12px 0;
      text-align: center;
      font-size: 14px;
    }
    .loginForm{
      width: 300px;
      margin: 0 auto;
      .prefixIcon{
        color: #1890ff;
      }
      .loginFormButton{
        width: 100%;
      }
    }
  }
}
